body {
  font-family: Arial, Helvetica, sans-serif;

}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

::-webkit-scrollbar { 
  display: none; 
}

.page{

  max-height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.item{
  border-bottom: 10px solid rgb(255, 255, 255);
  color: white;
  background:rgb(22, 39, 61);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  scroll-snap-align: center;
}


.show > .dropdown-menu {
  max-height: 800px;
  visibility: visible;
}

/* JUMBOTRON */

.jumbotron{
  width: 80%;
  margin-top: 100px;
  color: #000;
}

.jumbotron.rounded-xl {
  border-radius: 3rem;
}

.paragraph{
  text-align: justify;
  width: 50%;

}

.JumbImg{
  padding-right: 10%;
  width:40%;
}


/* NAVBAR */

.navbar.bg-dark{
  transition:500ms ease;
  background:transparent !important;
}
.navbar.bg-dark.scrolled{
  background:#000 !important;
}

.navbar > .collapse > .navbar-nav > .nav-item > a{
  color: white;
  font-size: large;
}