body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


::-webkit-scrollbar { 
  display: none; 
}

.page{  

  max-height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.d-block.w-100{
  width: 120rem!important;
  height: 100%;
}

.item{
  border-bottom: 1px solid rgb(255, 255, 255);
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 72px;
  scroll-snap-align: center;
}

.item-foot{

  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.show > .dropdown-menu {
  max-height: 800px;
  visibility: visible;
}

/* JUMBOTRON */

.jumbotron{
  width: 80%;
  background-color: white !important;
  color: #000;
}

.jumbotron.rounded-xl {
  border-radius: 3rem;
}

.row{
  display: flex;
}

.paragraph{
  text-align: justify;
  flex: 50%;
  padding: 10px;
  height: 300px;
  left: 0;
}

.JumbImg{
  width:40%;
  flex: 50%;
  padding: 10px;
  height: 300px;
  right: 0;
}


/* NAVBAR */

.navbar.bg-dark{
  transition:500ms ease;
  background:#000 !important;
  /*background:transparent !important;*/
}
.navbar.bg-dark.scrolled{
  background:#000 !important;
}

.navbar > .collapse > .navbar-nav > .nav-item > a{
  color: white;
  font-size: large;
}


.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


/* Products */

div.Products{
  position: relative;
  width: 100%;
  height: 90%;

}

.ProdHeading{
  color: #000;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 3vw;
  text-align: center;
}

.Prod1img{
  position: absolute;
  left: 30%;
  bottom: 30%;
  width: 35%;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.Prod2img{
  position: absolute;
  left: 30%;
  bottom: 30%;
  width: 35%;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.Prod3img{
  position: absolute;
  left: 30%;
  bottom: 30%;
  width: 35%;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.Prod4img{
  position: absolute;
  left: 30%;
  bottom: 30%;
  width: 35%;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.txtdisp2
{
    position: absolute;
    color: #000;
    top : 30%!important;
    right : 8%!important;
    margin-left: 60%;
    text-align: center!important;
    font-size: 20px!important;
}

button.ProdBut {
  border-radius: 4px;
  background-color: #5ca1e1;
  margin-left:0;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1vw;
  padding: 1vw;
  width: 20vw;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2.5rem;
 
}

button.ProdBut{
  cursor: pointer;
  display: block;
  position: relative;
  transition: 0.5s;
}

button.ProdBut:after {
  content: '»';
  font-size: 1vw;
  position: absolute;
  opacity: 0;  
  top: 1vw;
  right: -20px;
  transition: 0.5s;
}

button.ProdBut:hover{
  background-color: #5ca1e1;
  padding-right: 24px;
  padding-left:8px;
}

button.ProdBut:hover:after {
  opacity: 1;
  right: 10px;
}


/* Our Team */

div.Team{
  position: relative;
  width: 100%;
  height: 90%;
  margin-top: 10%;

}


.TeamHeading{
  color: #000;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  top: 30%!important;
  font-size: 3vw;
  text-align: center;
}

.avatar1{
  position: absolute;
  top: 20%;
  right: 80%;
  border-radius: 50%;
  border: 1px solid rgb(101, 252, 212);
}

.avatar2{
  position: absolute;
  top: 20%;
  right: 70%;
  border-radius: 50%;
  border: 1px solid rgb(101, 252, 212);
}

.avatar3{
  position: absolute;
  top: 20%;
  right: 60%;
  border-radius: 50%;
  border: 1px solid rgb(101, 252, 212);
}

.avatar4{
  position: absolute;
  top: 20%;
  right: 50%;
  border-radius: 50%;
  border: 1px solid rgb(101, 252, 212);
}

.avatar5{
  position: absolute;
  top: 50%;
  right: 75%;
  border-radius: 50%;
  border: 1px solid rgb(101, 252, 212);
}

.avatar6{
  position: absolute;
  top: 50%;
  right: 65%;
  border-radius: 50%;
  border: 1px solid rgb(101, 252, 212);
}

.avatar7{
  position: absolute;
  top: 50%;
  right: 55%;
  border-radius: 50%;
  border: 1px solid rgb(101, 252, 212);
}

.avatar1:hover { 
  border-radius: 50%;
  border: 5px solid rgb(0, 255, 221); 
} 
.avatar2:hover { 
  border-radius: 50%;
  border: 5px solid rgb(0, 255, 221); 
} 
.avatar3:hover { 
  border-radius: 50%;
  border: 5px solid rgb(0, 255, 221); 
} 
.avatar4:hover { 
  border-radius: 50%;
  border: 5px solid rgb(0, 255, 221); 
} 
.avatar5:hover { 
  border-radius: 50%;
  border: 5px solid rgb(0, 255, 221); 
} 
.avatar6:hover { 
  border-radius: 50%;
  border: 5px solid rgb(0, 255, 221); 
} 
.avatar7:hover { 
  border-radius: 50%;
  border: 5px solid rgb(0, 255, 221); 
} 

.txtdisp
{
    position: absolute;
    color: #000;
    top : 30%!important;
    right : 10%!important;
    margin-left: 50%;
    text-align: center!important;
    font-size: 20px!important;
}
  

/*footer*/
.dynamic_footer{
  border-top: 1px solid #FAD000;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 70px;
  box-sizing: border-box;
  z-index: 3;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;

}


.subsec{
  border: 0; 
  position: relative;
  top: 15%;
  width: 100%; 
  height: 110%
}

.subsec1{
  border: 0; 
  position: relative;
  top: 0%; 
  width: 100%; 
  height: 100%;
}

@media only screen and (max-width: 700px){
  .jumbotron{
    width: 80%;
    background-color: white !important;
  
    color: #000;
  }
  
  .jumbotron h1 { 
    font-size:20px;
  }

  .jumbotron.rounded-xl {
    border-radius: 3rem;
  }
  
  .row{
    display: flex;
  }
  
  .paragraph{
    text-align: justify;
    flex: 100%;
    height:auto;
    font-size: 0.75rem;
    left: 0;
  }
  
  .JumbImg{
    width:40%;
    padding-top: 0;
    right: 0;
  }

  /*Products*/
  
div.Products{
  position: relative;
  width: 100%;
  height: 90%;

}

.ProdHeading{
  color: #000;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
}

.Prod1img{
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 5%;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.Prod2img{
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 5%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.Prod3img{
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 5%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.Prod4img{
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 5%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.txtdisp2
{
    position: absolute;
    color: #000;
    top : 10%!important;
    right : 8%!important;
    margin-left: 60%;
    text-align: center!important;
    font-size: 15px!important;
}

.txtdisp3{
  font-size: 20px!important;
}

button.ProdBut {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 3vw;
  padding: 2vw;
  width: 30vw;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1.5rem;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

button.ProdBut{
  cursor: pointer;
  display: block;
  position: relative;
  transition: 0.5s;
}

button.ProdBut:after {
  content: '»';
  font-size: 2vw;
  position: absolute;
  opacity: 0;  
  top: 2vw;
  right: -20px;
  transition: 0.5s;
}

button.ProdBut:hover{
  background-color: aqua;
  padding-right: 24px;
  padding-left:8px;
}

button.ProdBut:hover:after {
  opacity: 1;
  right: 10px;
}


  /*TEAM*/

  div.Team{
    position: relative;
    width: 100%;
    height: 90%;
  }
  
  
  .TeamHeading{
    color: #000;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 25px;
    text-align: center;
  }
  
  .avatar1{
    position: absolute;
    top: 10%;
    width: 20%!important;
    right: 70%;
    border-radius: 50%;
    border: 1px solid rgb(101, 252, 212);
  }
  
  .avatar2{
    position: absolute;
    top: 10%;
    width: 20%!important;
    right: 40%;
    border-radius: 50%;
    border: 1px solid rgb(101, 252, 212);
  }
  
  .avatar3{
    position: absolute;
    top: 10%;
    width: 20%!important;
    right: 10%;
    border-radius: 50%;
    border: 1px solid rgb(101, 252, 212);
  }
  
  .avatar4{
    position: absolute;
    top: 35%;
    width: 20%!important;
    right: 70%;
    border-radius: 50%;
    border: 1px solid rgb(101, 252, 212);
  }
  
  .avatar5{
    position: absolute;
    top: 35%;
    width: 20%!important;
    right: 40%;
    border-radius: 50%;
    border: 1px solid rgb(101, 252, 212);
  }
  
  .avatar6{
    position: absolute;
    top: 35%;
    width: 20%!important;
    right: 10%;
    border-radius: 50%;
    border: 1px solid rgb(101, 252, 212);
  }
  
  .avatar1:hover { 
    border-radius: 50%;
    border: 5px solid rgb(0, 255, 221); 
  } 
  .avatar2:hover { 
    border-radius: 50%;
    border: 5px solid rgb(0, 255, 221); 
  } 
  .avatar3:hover { 
    border-radius: 50%;
    border: 5px solid rgb(0, 255, 221); 
  } 
  .avatar4:hover { 
    border-radius: 50%;
    border: 5px solid rgb(0, 255, 221); 
  } 
  .avatar5:hover { 
    border-radius: 50%;
    border: 5px solid rgb(0, 255, 221); 
  } 
  .avatar6:hover { 
    border-radius: 50%;
    border: 5px solid rgb(0, 255, 221); 
  } 
  
  
  .txtdisp
  {
      position: absolute;
      color: #000;
      top : 60%!important;
      right : 0%!important;
      left: 0%!important;
      text-align: center!important;
      font-size: 20px!important;
      margin-left: 0%;

  }
    
}