body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

::-webkit-scrollbar { 
  display: none; 
}

.page{

  max-height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.item{
  border-bottom: 10px solid rgb(255, 255, 255);
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  scroll-snap-align: center;
}

.item-foot{

  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.show > .dropdown-menu {
  max-height: 800px;
  visibility: visible;
}

/* JUMBOTRON */

.jumbotron{
  width: 80%;
  background-color: white !important;
  margin-top: 120px;
  color: #000;
}

.jumbotron.rounded-xl {
  border-radius: 3rem;
}

.paragraph{
  text-align: justify;
  width: 50%;

}

.JumbImg{
  padding-right: 10%;
  width:40%;
}


/* NAVBAR */

.navbar.bg-dark{
  transition:500ms ease;
  background:transparent !important;
}
.navbar.bg-dark.scrolled{
  background:#000 !important;
}

.navbar > .collapse > .navbar-nav > .nav-item > a{
  color: white;
  font-size: large;
}


.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


/* Our Team */

div.Team{
  position: relative;
  width: 100%;
  height: 90%;
  margin-top: 10%;

}


.TeamHeading{
  color: #000;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 5vw;
  text-align: center;
}

.avatar1{
  position: absolute;
  top: 15%;
  right: 80%;
  border-radius: 50%;
  border: 1px solid rgb(101, 252, 212);
}

.avatar2{
  position: absolute;
  top: 40%;
  right: 60%;
  border-radius: 50%;
  border: 1px solid rgb(101, 252, 212);
}

.avatar1:hover { 
  border-radius: 50%;
  border: 5px solid rgb(0, 255, 221); 
} 
.avatar2:hover { 
  border-radius: 50%;
  border: 5px solid rgb(0, 255, 221); 
} 

.txtdisp
{
    position: absolute;
    color: #000;
    top : 30%!important;
    right : 10%!important;
    margin-left: 50%;
    text-align: center!important;
    font-size: 20px!important;
}
  

/*footer*/
.dynamic_footer{
  border-top: 1px solid #FAD000;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 70px;
  box-sizing: border-box;
  z-index: 3;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
    
  
}